.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.margin-1 {
  margin: 1rem 0;
}

.margin-2 {
  margin: 2rem 0;
}

.margin-3 {
  margin: 3rem 0;
}

.margin-4 {
  margin: 4rem 0;
}

span {
  color: #db952c;
}

.btn {
  display: inline-block;
  padding: 0.9rem;
  border-radius: 8px;
  width: 35%;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.555);
  color: #000;
}

.btn:hover {
  color: #ffac31;
  background-color: rgba(51, 51, 51, 0.493);
}

.btn-line {
  border-bottom: 1px solid transparent;
  transition: all 1s;
}

.btn-line:hover {
  border-bottom: 1px solid white;
}

.current {
  border-bottom: 1px solid #ffac31;
}

.text-center {
  text-align: center;
}

.line {
  height: 3px;
  background-color: #ffac31;
  width: 90px;
  display: block;
  justify-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
  margin: 0.1rem 1rem auto;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  display: block;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  margin-top: 80px;
}

.bottom-line {
  display: block;
  height: 3px;
  width: 5REM;
  background-color: #ffac31;
  margin: 0 auto 1rem auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.item {
  position: relative;
  background-color: #222;
  overflow: hidden;
  border: 1px solid black;
  border: none;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.698);
}

.item::after {
  position: absolute;
  content: '';
  display: block;
  background: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}

.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  display: block;
  overflow: hidden;
  content: '';
  padding-top: 75%;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  text-align: center;
  color: white;
  z-index: 1;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 200ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 1.4rem;
  padding: 0 1rem;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  color: #ffac31;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 1rem;
}

#timeline .timeline-b {
  box-sizing: border-box;
}

#timeline .timeline-b ul {
  padding: 50px 0;
}

#timeline .timeline-b ul li {
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 20px;
  background: white;
}

#timeline .timeline-b ul li div {
  position: relative;
  width: 400px;
  bottom: 0;
  padding: 0.9rem;
  background-color: rgba(44, 44, 44, 0.882);
  color: #ffffff;
  transition: all 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
  text-align: start;
  box-shadow: 3px 3px 10px black;
}

#timeline .timeline-b ul li div h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: rgba(255, 173, 49, 0.904);
}

#timeline .timeline-b ul li div p {
  font-size: 0.9rem;
}

#timeline .timeline-b ul li:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: 0.5s all ease-in-out;
  transition-delay: 0.3s;
}

#timeline .timeline-b ul li.show div {
  visibility: visible;
  opacity: 1;
  transform: none;
}

#timeline .timeline-b ul li.show:after {
  background: #2c2c2c;
}

#timeline .timeline-b ul div:before {
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
}

#timeline .timeline-b ul li:nth-child(odd) div {
  transform: translate(200px, 0);
  left: 40px;
  transition: 0.6s ease-in-out;
}

#timeline .timeline-b ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0px;
  border-color: transparent #2c2c2c transparent transparent;
}

#timeline .timeline-b ul li:nth-child(odd).show div {
  transform: translateX(200px, 0);
  left: -150px;
  transition-delay: 0.3s;
}

#timeline .timeline-b ul Li:nth-child(even) div {
  left: -436px;
  transform: translate(-200px, 0);
  transition-delay: 0.3s;
}

#timeline .timeline-b ul Li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent #2c2c2c;
}

#timeline .timeline-b ul li:nth-child(even).show div {
  transform: translateX(-200px, 0);
  left: -250px;
}

@font-face {
  font-family: 'monument_extendedregular';
  src: url("/scss/fonts/monument-webfont.woff") format("woff");
}

@font-face {
  font-family: 'monument_extendedultrabold';
  src: url("/scss/fonts/monumentbold-webfont.woff2") format("woff2");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monument_extendedregular', sans-serif;
  background: #f4f4f4;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#header-home:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/Background-homepage.jpeg) no-repeat center center/cover;
  z-index: -1;
}

#header-home {
  background-color: rgba(0, 0, 0, 0.664);
  height: 100vh;
  position: relative;
}

#header-home #navbar {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 3rem;
  transition: 0.5s;
  background: #333;
  color: #fff;
  z-index: 10;
}

#header-home #navbar.top {
  background: transparent;
}

#header-home #navbar .logo {
  width: 100px;
  height: 50px;
}

#header-home #navbar ul {
  display: flex;
}

#header-home #navbar ul li a {
  padding: 0.3rem;
  margin: 14px;
  font-weight: bold;
  transition: all 0.5s;
}

#header-home .header-content {
  text-align: center;
  padding-top: 17%;
}

#header-home .header-content .content {
  color: white;
}

#header-home .header-content .content h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#header-home .header-content .content p {
  margin-bottom: 30px;
}

#header-home .header-content .content .btn {
  margin: 40px 0;
}

#header-home .header-content .social i {
  padding: 0 30px;
  margin-bottom: 4rem;
  transition: all 0.5s;
  transform: scale(1);
}

#header-home .header-content .social i:hover {
  color: #ffac31;
  transform: scale(1.3);
}

#header-home .header-content .social a:hover {
  padding: 1rem 0;
}

#work-a {
  background: #f4f4f4;
}

#work-a .bottom-line {
  margin-bottom: 30px;
}

#timeline {
  background: rgba(0, 0, 0, 0.431);
  color: white;
  position: relative;
}

#timeline:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/Background-homepage.jpeg) no-repeat center center/cover;
  content: '';
  z-index: -1;
}

#timeline .timeline-a h1 {
  padding-top: 4%;
  font-size: 2rem;
}

#timeline .timeline-a h1 span {
  color: #ffac31;
}

#timeline .timeline-a i {
  position: relative;
  text-align: center;
  margin: 5px auto;
  left: 8px;
  display: block;
}

#about {
  color: black;
  padding-top: 1%;
}

#about .skills {
  display: flex;
  flex-direction: column;
}

#about .skills .skill {
  padding: 1rem;
}

#about .skills .skill div {
  height: 30px;
  background-color: black;
  border-radius: 10px;
  margin-top: 5px;
}

#about .skills .skill div .one {
  height: 30px;
  background-color: #ffac31;
  border-radius: 10px 2px 2px 10px;
  margin-top: 5px;
  width: 80%;
  border: 2px black solid;
}

#about .skills .skill div .two {
  height: 30px;
  background-color: #ffac31;
  border-radius: 10px 2px 2px 10px;
  margin-top: 5px;
  width: 43%;
  border: 2px black solid;
}

#about .skills .skill div .three {
  height: 30px;
  background-color: #ffac31;
  border-radius: 10px 2px 2px 10px;
  margin-top: 5px;
  width: 24%;
  border: 2px black solid;
}

#about .skills .skill div .four {
  height: 30px;
  background-color: #ffac31;
  border-radius: 10px 2px 2px 10px;
  margin-top: 5px;
  width: 1%;
  border: 2px black solid;
}

.about-a {
  margin: 120px;
}

.about-a .section-title {
  font-size: 1.7rem;
}

.about-a .bottom-line {
  margin-bottom: 60px;
}

.about-a .check-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4rem;
}

.about-a .check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1.1rem;
  justify-self: center;
  transition: all 0.4s;
  transform: scale(1);
}

.about-a li:hover {
  transform: scale(1.2);
}

.about-a li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 16px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  border-color: #ffac31;
  transform-origin: bottom left;
  transform: rotate(45deg);
  justify-self: center;
}

#contact {
  padding-top: 2%;
}

#contact .content {
  display: flex;
  position: relative;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

#contact .content .img {
  border: 1px solid black;
  height: 455px;
  width: 390px;
  margin: 10px;
  margin-right: 2rem;
  border-radius: 5px 10px 5px 150px;
  background: url(/img/me.jpg) no-repeat center center/cover;
  box-shadow: 2px 3px 10px black;
}

#contact .content .ul ul {
  font-size: 1.2rem;
  width: 100%;
}

#contact .content .ul ul li {
  text-align: start;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #d3d0d04d;
  margin: 0.7rem 0;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.158);
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: bold;
}

#contact .content .ul ul li a {
  color: #ffac31;
  font-family: 'monument_extendedregular';
}

#contact .content .ul ul li i {
  font-size: 1.5rem;
}

#contact .content .ul ul li span {
  color: #414141;
  text-align: start;
  display: inline-block;
  font-family: 'monument_extendedregular';
}

#contact .content .ul li:hover {
  background-color: #afaeaea2;
}

#footer {
  margin-top: 150px;
}

#footer a {
  color: #333;
}

#footer .logo {
  display: grid;
  grid-template-areas: 'div1 div1 img div2 div2';
}

#footer .logo img {
  width: 80px;
  grid-area: img;
}

#footer .logo a {
  justify-self: center;
  text-align: center;
  display: block;
}

#footer .logo .div1 {
  grid-area: div1;
  height: 2px;
  margin: 3.5rem 0;
  background-color: black;
}

#footer .logo .div2 {
  grid-area: div2;
  height: 2px;
  margin: 3.5rem 0;
  background-color: black;
}

#footer .foot-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

#footer .foot-nav .list-one {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#footer .foot-nav .list-one li {
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.4s;
}

#footer .foot-nav .list-one a {
  transition: all 0.4s;
}

#footer .foot-nav .list-one a:hover,
#footer .foot-nav .list-one li:hover {
  color: #db952c;
  transform: scale(1.3);
}

#footer .foot-nav .social-icons {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

#footer .foot-nav .social-icons .icons {
  text-align: center;
  padding: 1rem;
}

#footer .foot-nav .social-icons .icons i {
  padding: 0 2.5rem;
  transition: 0.4s all;
  transform: scale(1) rotate(0);
}

#footer .foot-nav .social-icons .icons i:hover {
  color: #db952c;
  transform: scale(1.4) rotate(360deg);
}

#footer .foot-nav .social-icons .line-footer {
  width: 1px;
  height: 60px;
  display: block;
  margin: 0 auto;
  background-color: black;
  margin-top: 1.5rem;
}

#footer .foot-nav .social-icons h3 {
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  color: #e29726;
}

#footer .foot-nav .social-icons .form-end {
  text-align: center;
  display: flex;
  justify-content: center;
}

#footer .foot-nav .social-icons .form-end input {
  width: 70%;
}

#footer .foot-nav .social-icons .form-end button {
  width: 30%;
  font-family: 'monument_extendedregular', sans-serif;
}

#footer .foot-nav .social-icons .form-end input::placeholder {
  color: black;
  font-family: 'monument_extendedregular', sans-serif;
}

#footer .foot-nav .social-icons .form-end .btn-foot {
  padding: 0.9rem;
  border: 1px black solid;
  background: #fff;
  font-size: 0.7rem;
}

#footer .foot-nav .social-icons p {
  text-align: center;
  margin: 5rem;
  font-size: 0.5rem;
}

#footer .foot-nav .list-two {
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
}

#footer .foot-nav .list-two li {
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.4s;
}

#footer .foot-nav .list-two a {
  transition: all 0.4s;
}

#footer .foot-nav .list-two a:hover,
#footer .foot-nav .list-two li:hover {
  color: #db952c;
  transform: scale(1.3);
}

@media (max-width: 900px) {
  #timeline .timeline-b ul li div {
    width: 250px;
  }

  #timeline .timeline-b ul Li:nth-child(even).show div {
    left: -100px;
  }
}

@media (max-width: 800px) {
  #navbar {
    text-align: center;
    padding: 2.5rem 1rem;
    align-items: center;
    justify-content: center;
  }

  #navbar a {
    margin-right: 10px;
  }

  #navbar li a {
    padding: 0.4rem;
    margin: 14px;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.1rem;
  }

  #header-home .header-content h1 {
    padding-top: 30%;
  }

  body .about-a {
    margin: 120px 25px;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #navbar {
    padding: 0 0 !important;
    height: 50px !important;
  }

  #navbar .logo {
    display: none;
  }

  #navbar ul {
    flex-direction: row;
    padding: 0;
  }

  #navbar ul li a {
    font-size: 0.6rem;
    padding: 0rem !important;
  }

  .content h1 {
    padding-top: 37% !important;
    font-size: 1.7rem !important;
  }

  .content p {
    font-size: 0.9rem;
  }

  .content .btn a {
    font-size: 0.7rem;
  }

  .social .fa-4x {
    font-size: 3rem;
    margin-top: 30px;
  }

  #timeline .timeline-b ul {
    padding: 1.5rem;
  }

  #timeline .timeline-b ul li {
    position: relative;
    width: 6px;
    margin: 0 !important;
    padding-top: 20px;
    background: white;
  }

  #timeline .timeline-b ul li.show div {
    width: 280px;
    margin: 0.1rem;
  }

  #timeline .timeline-b ul li:nth-child(odd) div {
    transform: translate(100px, 0);
    left: 40px;
    transition: 0.6s ease-in-out;
  }

  #timeline .timeline-b ul li:nth-child(odd).show div {
    transform: translateX(100px, 0);
    left: -60px;
  }

  #timeline .timeline-b ul Li:nth-child(even) div {
    left: 40px;
    transform: translate(100px, 0);
  }

  #timeline .timeline-b ul Li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent #2c2c2c transparent transparent;
  }

  #timeline .timeline-b ul Li:nth-child(even).show div {
    left: 40px;
    transform: translate(0px, 0);
  }

  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-a {
    margin: 120px 0px !important;
  }

  .about-a .check-list {
    grid-template-columns: 1fr !important;
  }

  #contact .content {
    flex-direction: column;
    padding: 2rem;
  }

  #contact .content .img {
    width: 110%;
  }

  #contact .content .ul {
    align-self: center;
  }

  #contact .content .ul ul {
    width: 96%;
    padding: 1rem !important;
    margin-left: 0.4rem;
  }

  #contact .content .ul ul li {
    font-size: 0.9rem;
  }

  #contact .content .ul ul li span {
    font-size: 0.9rem;
    padding: 0 0.3rem;
  }

  #footer {
    margin-top: 60px;
  }

  #footer .foot-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr !important;
    grid-template-rows: 1fr 2fr;
  }

  #footer .foot-nav .list-one li {
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem !important;
    transition: all 0.4s;
  }

  #footer .foot-nav .list-one a {
    transition: all 0.4s;
  }

  #footer .foot-nav .list-one a:hover,
  #footer .foot-nav .list-one li:hover {
    color: #db952c;
    transform: scale(1.3);
  }

  #footer .foot-nav .social-icons {
    grid-column: 2/span 1 !important;
    grid-row: 1 / span 2;
  }

  #footer .foot-nav .social-icons .icons {
    text-align: center;
    padding: 0rem !important;
  }

  #footer .foot-nav .social-icons .icons i {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 40%;
    transition: 0.4s all;
    padding: 0 0 !important;
  }

  #footer .foot-nav .social-icons .icons i:hover {
    color: #db952c;
  }

  #footer .foot-nav .social-icons .icons a {
    display: inline-block;
  }

  #footer .foot-nav .social-icons .line-footer {
    width: 1px;
    height: 60px;
    display: block;
    margin: 0 auto;
    background-color: black;
    margin-top: 1.5rem;
  }

  #footer .foot-nav .social-icons h3 {
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
    color: #e29726;
  }

  #footer .foot-nav .social-icons .form-end {
    text-align: censter;
    display: flex;
    justify-content: center;
  }

  #footer .foot-nav .social-icons .form-end input {
    width: 70%;
  }

  #footer .foot-nav .social-icons .form-end button {
    width: 35%;
    font-family: 'monument_extendedregular', sans-serif;
    text-align: center;
  }

  #footer .foot-nav .social-icons .form-end input::placeholder {
    color: black;
    font-family: 'monument_extendedregular', sans-serif;
  }

  #footer .foot-nav .social-icons .form-end .btn-foot {
    padding: 0.9rem;
    border: 1px black solid;
    background: #fff;
    font-size: 0.7rem;
  }

  #footer .foot-nav .social-icons p {
    text-align: center;
    margin: 5rem;
    font-size: 0.5rem;
  }

  #footer .foot-nav .list-two {
    grid-column: 3/span 3 !important;
    grid-row: 1 / span 1;
  }

  #footer .foot-nav .list-two li {
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem !important;
    transition: all 0.4s;
    margin-right: 2rem !important;
  }

  #footer .foot-nav .list-two a {
    transition: all 0.4s;
  }
}