
// variables

$white-color: rgb(255, 255, 255);
$black-color: #000;
$background-color: #f4f4f4;
$gold-color :#ffac31;
$light-color: #312b2b;
$dark-color: #333;
$grey-color: #777;
$neutral-color: #999;
$webpage-width: 1280px;
$overlay-color: rgba(0, 0, 0, 0.664);
$overlay-color2: rgba(0, 0, 0, 0.431);
$overlay-color3: rgb(41, 40, 40);


$bg-image: url('/img/Background-homepage.jpeg');
